<div id="<%= dom_id photo %>">
  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

  <p>
    <strong>Photo timestamp:</strong>
    <%= photo.photo_timestamp %>
  </p>

  <p>
    <strong>Tz:</strong>
    <%= photo.tz %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= photo.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= photo.longitude %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= photo.temperature %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= photo.condition %>
  </p>

</div>
